body {
  min-height: 100dvh;
  overflow: hidden auto;
  margin: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.framify {
  flex: 0 1 auto;
  min-width: 80%;
  max-width: 100%;
}