/* prevent zoom */

svg.lottie-controller {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  overflow: visible;

  pointer-events: none;

  > * {
    pointer-events: auto;
  }

  > g[clip-path],
  .overflow {
    clip-path: unset;
  }

  * {
    touch-action: none; // none?
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
  }

  .noclick {
    pointer-events: none;
  }

  .click,
  .hitbox {
    pointer-events: auto;
    cursor: pointer;
  }

  .hitbox * {
    stroke: transparent;
    fill: transparent;
  }

  .noscale {
    [stroke] {
      vector-effect: non-scaling-stroke;
      // stroke-width: var(--stroke-width, revert-layer);
    }
  }
}